@{ ViewBag.Title = "ForgotPasswordConfirmation";
Layout = "~/Views/Shared/_LoginLayout.cshtml"; }

<div class="row">
    <div class="col-xl-4 col-md-12 col-md-12 d-block mx-auto">
        <div class="card mb-0">
            <div class="card-header">
                <h3 class="card-title">Forgot password</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    Please check your mail for new password
                </div>

            </div>
        </div>
    </div>
</div>

