
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row">
    <div class="col-xl-4 col-md-12 col-md-12 d-block mx-auto">
        <div class="card mb-0">
            <div class="card-header">
                <h3 class="card-title">Forgot password</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="form-label text-dark" for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" required>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-block">Send</button>
                </div>
                <div class="text-center text-dark mt-3 ">
                    Forget it, <a href="@Url.Action("Login","LoginModule")">send me back</a> to the sign in.
                </div>
            </div>
        </div>
    </div>
</div>
